<section class="about-us-{{ section.id }}">
 "hello"    
</section>

<style>
    .about-us-{{ section.id }} {
        bacground-color: "yellow";
    }
</style>

{% schema %}
{
    "name": "About Us",
    "settings": [
        
    ]
}
{% endschema %}